h1 {
    font-family: Arial;
}

h2 {
    outline-style: solid;
    outline-color: red;
    outline-width: 2px;
    outline-offset: 6px;
}

h3 {
    font-style: italic;
}

img {
    width: 100%;
    max-width: calc(256px + 128px);
}